magnum-app/*.iml
magnum-app/.gradle
magnum-app/local.properties
magnum-app/.idea/caches/
magnum-app/.idea/libraries/
magnum-app/.idea/modules.xml
magnum-app/.idea/workspace.xml
magnum-app/.idea/navEditor.xml
magnum-app/.idea/assetWizardSettings.xml
magnum-player/include/asset_Font.hpp
.vscode/
/captures
.externalNativeBuild
.cxx
build/
__pycache__/
media/
old/
